.error-page .error-code h2 {
    display: block;
    font-size: 200px;
    line-height: 200px;
    color: #303030;
    margin-bottom: 20px;
}

.error-page .error-body .btn {
    margin-top: 30px;
    font-weight: 700;
    background-color: #ffb600;
    border: 0px;
}

.error-page .error-body .btn:hover {
    background-color: #303030;
}